@media (max-width:768px) {
    .navbar-transparant {
        background: rgba(18, 131, 218, .85);
    }
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto
}

.img-cover {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0
}

.navbar-absolute {
    position: absolute;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    z-index: 3;
}

.bg-overlay-primary:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 131, 218, .85);
    z-index: 2
}

.intro-content {
    z-index: 2;
    position: relative
}

a {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #dee2e6;
    padding-bottom: 2px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    color: #343a40;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    border-color: #adb5bd;
    color: #121416;
    text-decoration: none
}

.navbar a:not(.btn) {
    border-bottom: 0;
}

.list-group-item {
    padding: 0.2rem 2.5rem;
}

.form-check label {
    margin-bottom: 0;
}
.info{
    text-indent: 2em;
    font-size: 1.2rem;
    font-weight: 400;
}
.collapsing {
    transition: none !important;
}
label.text-danger:before {
    float: left;
    margin-left: -24px;
    background-size: cover;
    width: 24px;
    background-image: url("../images/icon-wrong.svg");
    content: "";
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
label.text-success:before {
    float: left;
    margin-left: -24px;
    background-size: cover;
    width: 24px;
    background-image: url("../images/icon-right.svg");
    content: "";
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.nav-pills .nav-link {
    border-radius: .35rem
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #343a40;
    background-color: #dee2e6
}
.nav-link {
    border-bottom: none
}