priv_key = "MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAK2SpbyfV9hdp1CyYD9FR8TBAL0bxY/+xO+K0OkaQ+0wJf7kaN3ttnEAV3/6AmFEeV4jAIpdynr61fze+3uQnlWSTa8r7JReeBkwoZUzoK+4Mdnp2ktlpwpej9ECqoiSODGDvYLhWq6u8RupkO7Do5xF7Q48G94cePmJ7AXw0aL3AgMBAAECgYBRiocZ6bGXD8g+fM4Ca0WgBRuXu6hAUWurLQefupsWnnv7Fsq9F6ORyptQn97mWwi5VLA4UH+C7rwAo7B5CCOZQZSC0cweT32GhIQQI1KdzEvq2xnzr097mwwFK+7NIERuDU7vy+w6GgRwzbBZP92aLcGg6cCiXGtnLAmkVvtVIQJBANiXkpPHFzTapryJ7MuGkeRL3MgpuRPSusvEZ5s7awA6U4++Q/RwKrKa04OAGtoW3GJdoIdIfbfpVQNmkrSZozUCQQDNJ1MN9g9GlennyA/ZdiMGeN7oHEbPQjW+KxkdkH/cR+rG43999iO/JrrxigBx/Z20CKNTfrJE+6Puc3yb+eb7AkBRvVou9RrX8pCsZKz93kpeyxaGX+CeD5A5aGTlW5Y1Hs38WITS0iX7A51Bam430hrX8JetlnkDmEZiIyrIh5blAkEArzsJnAEyZw4hrpKZxxs7K4oOi5+rc9iP4xEY8MG+FL9w79Tdzw9w1RMV1r4TR0pja6V9LBIp3vY5vbDzHJ9GBQJAZ/6kW8RZsr0exGPAPmKVdQBz6AplGYzLclru8eBl7f6sAi/cYD9GMNEY+4w++sag+aFEng5Dy9J5R/AJbp9rfg=="
pub_key = "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCtkqW8n1fYXadQsmA/RUfEwQC9G8WP/sTvitDpGkPtMCX+5Gjd7bZxAFd/+gJhRHleIwCKXcp6+tX83vt7kJ5Vkk2vK+yUXngZMKGVM6CvuDHZ6dpLZacKXo/RAqqIkjgxg72C4VqurvEbqZDuw6OcRe0OPBveHHj5iewF8NGi9wIDAQAB"
mysql_host="localhost"
mysql_port="3306"
mysql_database="cqid"
mysql_user="root"
mysql_password="root"
domain=".cqid.cn"